{% extends "base.html" %}

{% block title %}Главная{% endblock %}
{% block link %}
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    processEscapes: true,
    processEnvironments: true
  },
  options: {
    skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
  }
};
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<link rel="stylesheet" href="{{ url_for("static", filename="css/student.css") }}">
<script src="{{ url_for("static", filename="js/student.js") }}"></script>
<script src="{{ url_for("static", filename="js/onboarding.js") }}"></script>
{% endblock %}
{% block body %}
    <div class="header">
        <h1>
            Главная
        </h1>   
        <div class="account">
            <button class="theme-toggle" id="themeToggle">
                <i class="theme-icon">🌙</i>
            </button>
            <img class="acc-img user-icon" src="{{ url_for('static', filename='img/user.png') }}" alt="account">
        </div>
    </div>
    <main>
        <div class="common">
            <!-- {% if response %}
            <div class="response">{{ response | safe }}</div>
            {% else %}
            <div class="response"></div>
            {% endif %} -->
            <div class="response">
                <!-- Изначально пустой контейнер -->
                <div class="placeholder-text">Здесь появится ответ...</div>
            </div>
            <!-- <form action="#" method="post">
                <input type="text" name='request' placeholder="Введите запрос..." class="request" required>
                <button type="submit" class="send"><img class="send-img" src="{{ url_for("static", filename="img/send.png") }}" alt="snd"></button>                   
            </form> -->
            <form id="requestForm" onsubmit="return false;">
                <label for="fileInput" class="attach-btn">
                    <img class="attach-img" src="{{ url_for('static', filename='img/clip.png') }}" alt="attach">
                </label>
                <input type="file" id="fileInput" style="display: none;" multiple>
                <textarea id="userInput" name='request' placeholder="Введите запрос..." class="request" required></textarea>
                <button type="button" onclick="submitForm()" class="send">
                    <img class="send-img" src="{{ url_for('static', filename='img/send.png') }}" alt="snd">
                </button>
                <div id="filePreview" class="file-preview"></div>                   
            </form>
        </div>
    </main>
{% endblock %}
